output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.cpp
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
notebooks/old_plots/
notebooks/*.pdf
notebooks/Plots_entropy_old.ipynb
