output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.cpp
*.pyc
python/build/
python/setup_mine.py
*.dSYM
RealSpaceInterface/cache/
doc/manual/html
doc/manual/latex
notebooks/old_plots/
notebooks/*.pdf
notebooks/Plots_entropy_old.ipynb
.DS_Store
Makefile_mine
